.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products-list {
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 200px;
  height: 200px;
}

button {
  margin: 20px;
  cursor: pointer;
  color: white;
}
